<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757993172175-4kk9275j3106d7l0a9985b6rolf0tlf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757993172175-4kk9275j3106d7l0a9985b6rolf0tlf4</string>
	<key>API_KEY</key>
	<string>AIzaSyA-t2q63Pej8dVFKn1bfziUJXNoO395E0U</string>
	<key>GCM_SENDER_ID</key>
	<string>757993172175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.JumpingBall-Bounce</string>
	<key>PROJECT_ID</key>
	<string>mercadoblip</string>
	<key>STORAGE_BUCKET</key>
	<string>mercadoblip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757993172175:ios:3dd7ce69521a4ed2ae5bba</string>
	<key>DATABASE_URL</key>
	<string>https://mercadoblip.firebaseio.com</string>
</dict>
</plist>